body {
  margin: 0;
  padding: 0;
}

#map-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.controls {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 20px;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

/* Styles for the JSON popup container */
.json-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto; /* Enable scrolling for the popup container */
}

.json-popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 66.67%; /* Two-thirds of the viewport width */
  height: 66.67%; /* Two-thirds of the viewport height */
  overflow: auto; /* Enable scrolling for the popup content */
  position: relative; /* Required for positioning the close button */
}

.json-popup-content button {
  position: sticky;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: red;
  z-index: 1;
}

.json-popup-content pre {
  white-space: pre-wrap;
  font-family: monospace;
  font-size: 14px;
}
