catboost
category-encoders
dask[dataframe]
geojson
h3
ipywidgets
matplotlib
missingno
netCDF4
numpy
pandas
pandas_profiling
plotly
scikit-learn
scipy
seaborn
sidecar
tensorflow
torch
unfolded.data-sdk>=0.4.1
unfolded.map-sdk>=0.6.0
xarray
