catboost
category-encoders
geojson
h3
ipywidgets
matplotlib
missingno
numpy
pandas
pandas_profiling
plotly
scikit-learn
scipy
seaborn
sidecar
tensorflow
torch
unfolded.data-sdk>=0.4.1
unfolded.map-sdk>=0.2.1
xarray
