body {
  margin: 0;
  padding: 0;
}

#map-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.controls {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 20px;
  display: flex;
  gap: 5px;
  flex-direction: column;
}
