html, body {
  height: 100%;
}
body {
  font-family: 'Graphik Web';
  overflow: hidden;
  margin: 0px;
}
body iframe {
  border: none;
}
.sidemenu {
  position: absolute;
  display: grid;
  grid-template-rows: auto 1fr auto;
  border: 1px solid #b3b3b3;
  border-radius: 20px;
  overflow: hidden;
  max-height: 80%;
  width: 360px;
  left: 0;
  top: 0;
  margin: 100px 28px;
  background: white;
  opacity: 1;
  .header {
    padding: 20px;
    height: 52px;
    background-color: white;
    .logo-image {
      height: 52px;
    }
  }
  #content {
    display: none;
    overflow-y: auto;
    padding: 0px 20px 20px 20px;
    h2 {
      margin: 0px;
    }
    .subtitle {
      font-size: 12px;
      color: #1d48e8;
    }
    .description {
      font-size: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid #1d48e8;
    }
    .description-small {
      font-size: 12px;
      color: #333;
    }
    .content-section {
      .section-label {
        font-size: 12px;
        border-bottom: 1px solid #1d48e8;
        width: 100%;
        display: inline-block;
        padding-bottom: 8px;
        margin: 16px 0px 16px 0px;
      }
      .location-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 8px;
      }
      button {
        font-family: 'Graphik Web Semibold';
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 8px;
        width: 100%;
        letter-spacing: 2px;
        padding: 8px 24px;
        border: none;
        border-radius: 8px;
        background-clip: padding-box;
        transition: color 0.2s linear, background-color 0.2s linear;
        background-color: #3498db80;
        &:hover {
          background-color: #217dbb;
          color: #fff;
          cursor: pointer;
        }
      }
      #layers-container {
        margin-top: 20px;
        .layer {
          display: grid;
          grid-template-columns: auto 1fr;
          border: 2px solid #b3b3b3;
          margin-bottom: 12px;
          overflow: hidden;
          &:hover {
            cursor: pointer;
            border: 2px solid #1d48e8;
          }
          &.selected {
            border: 2px solid #1d48e8;
            background-color: rgba(86, 171, 232, 0.3);
          }
          .layer-preview {
            width: 60px;
            cursor: pointer;
            svg {
              width: 100%;
              height: 100%;
              color: #4242ec;
            }
          }
          .layer-description {
            display: grid;
            grid-template-rows: auto auto;
            margin: 8px;
            cursor: pointer;
            .layer-name {
              cursor: pointer;
              font-size: 14px;
              user-select: none;
            }
            .layer-text {
              cursor: pointer;
              font-size: 12px;
              color: #333;
              user-select: none;
            }
          }
        }
      }
      summary {
        margin-top: 8px;
        font-size: 14px;
        cursor: pointer;
      }
      pre {
        white-space: pre-wrap; 
        background-color: #ececec;
      }
      input {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 16px;
      }
    }
  }
  .footer {
    padding: 20px;
    height: 24px;
    img {
      width: 100px;
      float: right;
    }
  }
  #loader {
    margin: 0 auto;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}