html, 
body {
    height: 100%;
    overflow: hidden;
}
body {
  font-family: 'Graphik Web';
  margin: 0px;

  iframe {
    border: none;
  }
}
.overlay-container {
  position: absolute;
  width: 20%;
  left: 0;
  top: 80px;
  margin: 16px;
  padding: 16px;
  background: rgb(250, 250, 250);

  h3 {
    text-transform: uppercase;
  }
  h4 {
    font-weight: 400;
    color: hsla(0,0%,0%,0.9);
  }
  #button-container {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 8px;

    button {
      font-family: 'Graphik Web Semibold';
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 2px;
      padding: 8px 24px;
      border: none;
      -webkit-border-radius: 2px;
      -webkit-background-clip: padding-box;
      -moz-border-radius: 2px;
      -moz-background-clip: padding;
      border-radius: 2px;
      background-clip: padding-box;
      -webkit-transition: color 0.2s linear, background-color 0.2s linear;
      transition: color 0.2s linear, background-color 0.2s linear;
      background-color: #3498db;
      &:hover {
        background-color: #217dbb;
        color: #fff;
        cursor: pointer;
      }
    }
    .checkbox-group {
      
      .switch-label {
        line-height: 34px;
        vertical-align: top;
      }
      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin: 0px 12px 12px 0px;

        input { 
          opacity: 0;
          width: 0;
          height: 0;

          &:checked + .slider {
            background-color: #3498db;
          }
          &:focus + .slider {
            box-shadow: 0 0 1px #3498db;
          }
          &:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }
        }
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
          border-radius: 34px;

          &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
          }
        }
      }
    }
    #sdk-layers{
      display: block;

      .toggle-label {
        border-top: 1px solid #000;
        display: inline-block;
        width: 100%;
        margin: 12px 0 12px 0;
        padding-top: 12px;
      }
    }
    .message {
      border-top: 1px solid hsla(0,0%,0%,0.6);
      padding-top: 12px;
    }
    #results {
      overflow-x: auto;
    }
  }
  #loader {
    margin: 0 auto;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}