<div class="sidemenu">
  <div class="header">
    <img class="logo-image" alt="company-logo" src="/assets/images/your-company-logo-here.png" />
  </div>
  <div *ngIf="!isLoaded" id="loader"></div>
  <div *ngIf="isLoaded" id="content">
    <h2>Demo Application</h2>
    <span class="subtitle"
      >Built by
      <a href="https://docs.unfolded.ai/map-sdk" target="_blank">Unfolded Map SDK</a></span
    >
    <p class="description">
      Demonstrating the possiblities of customizing Unfolded Studio using the Map SDK with
      <a href="https://angular.io/" target="_blank">Angular</a>.
    </p>
    <p class="description-small">
      The Unfolded Map SDK can be used directly in a standard HTML + JavaScript web page using the
      JavaScript version of the Map SDK. The Map SDK enables you to use Unfolded maps as a
      controllable UI component.
    </p>
    <div class="content-section">
      <span class="section-label">Viewport controls</span>
      <div class="location-container">
        <button id="move_button_sf" (click)="goTo('sf')">San Francisco</button>
        <button id="move_button_ny" (click)="goTo('ny')">New York</button>
        <button id="move_button_la" (click)="goTo('la')">Los Angeles</button>
        <button id="move_button_london" (click)="goTo('london')">London</button>
      </div>
    </div>
    <div class="content-section">
      <span class="section-label">Layer controls</span>
      <button id="get-layers" (click)="getLayers()">GET LAYERS</button>
      <div id="layers-container">
        <div *ngFor="let layer of layers">
          <div
            [ngClass]="{layer: true, selected: layer.isVisible}"
            (click)="setLayerVisibility(layer.id)"
          >
            <div class="layer-preview">
              <img src="/assets/images/layer-icon.svg" alt="layer-icon" />
            </div>
            <div class="layer-description">
              <span class="layer-name">{{ layer.label }}</span>
              <span class="layer-text">Click to toggle layer visibility</span>
            </div>
          </div>
        </div>
      </div>
      <details open>
        <summary>JSON response</summary>
        <pre id="results">{{ layerResult }}</pre>
      </details>
    </div>
  </div>
  <div class="footer">
    <img alt="unfolded-logo" src="https://cdn.unfolded.ai/statics/unfolded-logo-black.png" />
  </div>
</div>
